#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "BearSSL"
config BEAR_SSL
	bool "BearSSL TLS library"
	default n

endmenu # BearSSL
