#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if CB2XX_LIBS

config CB2XX_RESOURCES
	bool "CB-2XX create resources"
	default n

endif
