#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config XG50_LIBS
	bool "XG-50 libraries"
	default n
	---help---
		Enable the XG-50 libraries

if XG50_LIBS

config XG50_LIBSERIAL
	bool "Serial Port communication library"
	default n
	---help---
		Enable Serial Port communication library

config XG50_LIBADC
	bool "AD Convertor library"
	default n
	---help---
		Enable AD Convertor library

config XG50_MAILBOX
        bool "Mailbox library"
	default n
	---help---
		Enable Mailbox library

config XG50_MEMPOOL
        bool "Mempool library"
	default n
	---help---
		Enable Memory Pool library


endif
