#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LUA_SQLITE3_MODULE
	bool "Lua SQLite3 module"
	default n
	depends on INTERPRETERS_LUA
	---help---
		LUA file SQLite3 module
